.content{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    padding-top: 40vh;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.form {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .example-full-width {
    width: 100%;
  }
.text{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.messageError h2{
  color: rgb(219, 10, 10);
  margin: 10px 0 ;
  font-weight: 600;
  font-size: 18px;
}
.result, .resultError{
  min-width: 100px;
  max-width: 280px;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(128, 128, 128, 0.226);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(210, 198, 30);
  width: 100%;
  opacity: 0; /* Começa invisível */
  transform: translateY(70px); /* Começa ligeiramente abaixo */
  animation: animeBottom 1s forwards; /* Ativa a animação 'entrada' por 1 segundo */
}
@keyframes animeBottom {
  0% {
      opacity: 0;
      transform: translateY(70px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.resultError{
  color: red;
  background-color: rgb(240, 240, 240);
}
.animationTop{
  animation: animationTop;
}