<div class="content">
    <div class="text">
        <h1>Buscar Cep</h1>
        <img src="../../../assets/icons8-pesquisar-96.svg" alt="ilupa de pesquisa">
    </div>
    <form class="form" (ngSubmit)="onSubmit()">
        <mat-form-field  >
          <mat-label >Digite seu Cep</mat-label>
          <input matInput placeholder="Ex. 01001-000" [(ngModel)]="cep" name="cep"  (ngModelChange)="onChange()" required>
        </mat-form-field>
        <button mat-raised-button color="primary">Buscar</button>
      </form>
      <div class="messageError">
        <h2>{{error}}</h2>
      </div>

      <div class="result?" *ngIf="result && result ; else elseBlock">
        <h3>Cep: {{ result?.cep }}</h3>
        <h3>DDD: {{ result?.ddd }}</h3>
        <!-- <h3>{{ result.algumaOutraPropriedade }}</h3> -->
      </div>
      
      <ng-template #elseBlock>
        <div class="result">
          <h3>Nenhum resultado encontrado.</h3>
        </div>
      </ng-template>


</div>
